<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>AddressTrail - Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/scripts.js"></script>
    <style></style>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/" class="title">AddressTrail</a>
        <div class="right-nav">
          <span class="right-nav-links navbar-links"
            >Welcome, {{ .Name }}!</span
          >
          <a href="/dashboard" class="right-nav-links navbar-links"
            >Dashboard</a
          >
          <a href="/" class="right-nav-links navbar-links">Manage Address</a>
          <a href="/" class="right-nav-links navbar-links">Log Out</a>
        </div>
      </nav>
    </header>
    <section class="container center-view">
      <div class="address-list-container" id="address-list-container">
        <button type="button" class="add-new-address" id="openFormBtn">
          <span class="button__label">Add New Address</span>
        </button>
      </div>
    </section>

    <div class="modal" id="modal">
      <div class="modal-content">
        <span class="close" id="closeModalBtn">&times;</span>
        <h2>Add New Address</h2>
        <form class="new-address-form" id="addressForm">
          <section class="new-address-section">
            <div class="input-container">
              <label class="new-address-label" for="street">Street</label>
              <input
                class="new-address-input"
                type="text"
                id="street"
                name="street"
              />
            </div>
            <div class="input-container-row">
              <div class="left-input-container">
                <label class="new-address-label" for="unit">Unit</label>
                <input
                  class="new-address-input"
                  type="text"
                  id="unit"
                  name="unit"
                />
              </div>
              <div class="right-input-container">
                <label class="new-address-label" for="city">City</label>
                <input
                  class="new-address-input"
                  type="text"
                  id="city"
                  name="city"
                />
              </div>
            </div>
            <div class="input-container-row">
              <div class="left-input-container">
                <label class="new-address-label" for="state">State</label>
                <input
                  class="new-address-input"
                  type="text"
                  id="state"
                  name="state"
                />
              </div>
              <div class="right-input-container">
                <label class="new-address-label" for="postalCode"
                  >Postal Code</label
                >
                <input
                  class="new-address-input"
                  type="text"
                  id="postalCode"
                  name="postalCode"
                />
              </div>
            </div>
            <div class="input-container-row">
              <div class="left-input-container">
                <label class="new-address-label" for="country">Country</label>
                <input
                  class="new-address-input"
                  type="text"
                  id="country"
                  name="country"
                />
              </div>
              <div class="right-input-container">
                <label class="new-address-label" for="current">Current</label>
                <input
                  type="checkbox"
                  id="current"
                  name="current"
                  onclick="toggleEndDateInput()"
                />
              </div>
            </div>
            <div class="input-container-row">
              <div class="left-input-container">
                <label class="new-address-label" for="startDate"
                  >Start Date</label
                >
                <input
                  class="new-address-input"
                  type="date"
                  id="startDate"
                  name="startDate"
                />
              </div>
              <div class="right-input-container" id="endDateContainer">
                <label class="new-address-label" for="endDate">End Date</label>
                <input
                  class="new-address-input"
                  type="date"
                  id="endDate"
                  name="endDate"
                />
              </div>
            </div>
          </section>
          <div class="save-container">
            <input type="submit" value="Save" onclick="return true" />
          </div>
        </form>
      </div>
    </div>

    <script>
      const openFormBtn = document.getElementById("openFormBtn");
      const closeModalBtn = document.getElementById("closeModalBtn");
      const modal = document.getElementById("modal");

      openFormBtn.addEventListener("click", () => {
        modal.style.display = "block";
      });

      closeModalBtn.addEventListener("click", () => {
        modal.style.display = "none";
      });

      window.addEventListener("click", (event) => {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      });

      const addressForm = document.getElementById("addressForm");

      addressForm.addEventListener("submit", (event) => {
        event.preventDefault();

        const payload = {
          UserID: "649f0ca8a675e19e10f56798",
          Street: addressForm.elements.street.value,
          Unit: addressForm.elements.unit.value,
          City: addressForm.elements.city.value,
          State: addressForm.elements.state.value,
          PostalCode: addressForm.elements.postalCode.value,
          Country: addressForm.elements.country.value,
          StartDate: addressForm.elements.startDate.value,
          EndDate: addressForm.elements.endDate.value,
        };
        console.log(payload);

        fetch("http://localhost:8080/api/users/addresses", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(payload),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            modal.style.display = "none";
          })
          .catch((error) => {
            console.error(error);
          });
      });
    </script>

    <script>
      function toggleEndDateInput() {
        var endDateContainer = document.getElementById("endDateContainer");
        var currentCheckbox = document.getElementById("current");

        if (currentCheckbox.checked) {
          endDateContainer.style.display = "none";
        } else {
          endDateContainer.style.display = "block";
        }
      }

      function setDefaultStartDate() {
        var startDateInput = document.getElementById("startDate");
        var endDateInput = document.getElementById("endDate");

        var today = new Date();
        var year = today.getFullYear();
        var month = String(today.getMonth() + 1).padStart(2, "0");
        var day = String(today.getDate()).padStart(2, "0");

        var todayFormatted = year + "-" + month + "-" + day;
        startDateInput.value = todayFormatted;
        endDateInput.value = todayFormatted;
      }

      setDefaultStartDate();
    </script>
    <script>
      fetch(
        "http://localhost:8080/api/users/addresses?userID=649f0ca8a675e19e10f56798"
      )
        .then((response) => response.json())
        .then((data) => {
          const addressListContainer = document.getElementById(
            "address-list-container"
          );

          data.reverse().forEach((address) => {
            const addressHolder = document.createElement("div");
            addressHolder.classList.add("address-holder");

            const addressLine = document.createElement("button");
            addressLine.classList.add("address-line");
            addressLine.dataset.addressId = address.AddressID;

            const streetAddressDisplay = document.createElement("div");
            streetAddressDisplay.classList.add("street-address-display");
            streetAddressDisplay.innerText = address.Street;

            const cityStateAddressDisplay = document.createElement("div");
            cityStateAddressDisplay.classList.add("city-state-address-display");

            const startDate = new Date(address.StartDate);
            const endDate = new Date(address.EndDate);

            const startMonthYear = `${startDate.toLocaleString("default", {
              month: "short",
            })} ${startDate.getFullYear()}`;
            const endMonthYear = `${endDate.toLocaleString("default", {
              month: "short",
            })} ${endDate.getFullYear()}`;

            cityStateAddressDisplay.innerText = `${address.City}, ${address.State} ${startMonthYear} - ${endMonthYear}`;

            const editIcon = document.createElement("div");
            editIcon.classList.add(
              "apply-flow-profile-item-tile__edit-icon",
              "background-color-1"
            );

            addressLine.appendChild(streetAddressDisplay);
            addressLine.appendChild(cityStateAddressDisplay);
            addressLine.appendChild(editIcon);
            addressHolder.appendChild(addressLine);
            addressListContainer.appendChild(addressHolder);
          });
        })
        .catch((error) => {
          console.error("Error fetching user addresses:", error);
        });
    </script>
  </body>
</html>
