<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>AddressTrail</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/scripts.js"></script>
  </head>
  <body>
    <!-- Add navbar -->
    <header>
      <nav class="navbar">
        <a href="#" class="title">AddressTrail</a>
        <a href="/login" class="sign-in button">Sign In</a>
      </nav>
    </header>

    <!-- Add home section -->
    <section class="container">
      <div class="left left-home">
        <h1 class="left-header">A powerful App to manage your addresses</h1>
      </div>
      <div class="right"></div>
    </section>

    <script src="/static/js/scripts.js"></script>
  </body>
</html>
