body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ff6b81;
}

.header .button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 30px;
  font-size: 14px;
}

header {
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 10rem;
  padding-left: 8rem;
  margin-right: auto;
  padding-top: 1rem;
}

.title {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.sign-in {
  color: white;
  text-decoration: none;
  font-size: 18px;
  background-color: transparent;
  padding: 10px 20px;
  transition: background-color 0.3s;
  border: 2px solid #fff;
  border-radius: 5px;
}

.sign-in:hover {
  background-color: white;
  color: #ff6b81;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  padding-right: 6rem;
  padding-left: 6rem;
}

.left {
  width: 50%;
}

.left-home {
  padding-top: 10rem;
}

.left-header {
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  color: #fff;
  text-shadow: 0px 3px 8px #00000017;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
}

.right {
  width: 50%;
}
